<MudGrid>
    <MudItem xs="12" sm="4">
        @if (Models != null && Models.Length > 0 && Models![0].FileName!.IsNullOrEmpty() == false)
        {
            <MudImage Src="@($"Uploads/Model/{Models![0].FileName}{Models![0].FileExtension}")" Fluid Class="rounded" />
        }
    </MudItem>

    <MudItem xs="12" sm="8">
        <MudAlert Severity="Severity.Info" NoIcon="true" ContentAlignment="HorizontalAlignment.Right" Class="mb-1">فیلدهای * دار را به ترتیب پر کنید.</MudAlert>
        <MudForm @ref="form" Model="vm">
            <MudHidden @bind-Value="vm.CategoryId" />
            <MudGrid Justify="Justify.Center">
                <MudItem xs="11" sm="6">
                    <MudSelect T="int?" Label="مدل" @bind-Value="vm!.ModelId" @bind-Value:after="OnModelChange" For="@(() => vm!.ModelId)" Variant="Variant.Outlined" Disabled Required RequiredError="@Constants.RequireMsg">
                        @if (Models != null)
                        {
                            @foreach (var item in Models!)
                            {
                                <MudSelectItem Value="@((int?)item.Id)">@item.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudSelect T="int?" Label="کاغذ" @bind-Value="vm!.PaperId" @bind-Value:after="OnPaperChange" For="@(() => vm!.PaperId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                        @if (Papers != null)
                        {
                            @foreach (var item in Papers!)
                            {
                                <MudSelectItem Value="@((int?)item.Id)">@item.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudSelect T="int?" Label="گرماژ" @bind-Value="vm!.GrammageId" @bind-Value:after="OnGrammageChange" For="@(() => vm!.GrammageId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                        @if (Grammages != null)
                        {
                            @foreach (var item in Grammages!)
                            {
                                <MudSelectItem Value="@((int?)item.Id)">@item.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudSelect T="int?" Label="تعداد" @bind-Value="vm!.CountId" @bind-Value:after="OnCountChange" For="@(() => vm!.CountId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                        @if (Counts != null)
                        {
                            @foreach (var item in Counts!)
                            {
                                <MudSelectItem Value="@((int?)item.Id)">@item.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudNumericField @bind-Value="vm.Series" For="@(() => vm!.Series)" Label="سری چاپ" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg" Min="1" Max="Int16.MaxValue" ErrorText="معتبر نیست" OnInternalInputChanged="() => StateHasChanged()" />
                </MudItem>
                <MudItem xs="11" sm="6" Class="d-flex align-items-center ps-1">
                    <MudText>@($"تعداد کل : {GetTotalCount().ToString()}")</MudText>
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudSelect T="byte?" Label="ترام داخلی 50% طوسی" @bind-Value="vm!.HasInternalTeramId" @bind-Value:after="OnHasInternalTeramChange" For="@(() => vm!.HasInternalTeramId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                        @if (HasInternalTerams != null)
                        {
                            @foreach (var item in HasInternalTerams!)
                            {
                                <MudSelectItem Value="@item.Id">@item.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudSelect T="byte?" Label="چسب درب" @bind-Value="vm!.HasDoorGlueId" @bind-Value:after="OnHasDoorGlueChange" For="@(() => vm!.HasDoorGlueId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                        @if (HasDoorGlues != null)
                        {
                            @foreach (var item in HasDoorGlues!)
                            {
                                <MudSelectItem Value="@item.Id">@item.Title</MudSelectItem>
                            }
                        }
                    </MudSelect>
                </MudItem>
                @if (vm.Price != null && vm.Price > 0)
                {
                    <MudItem xs="11" sm="12">
                        @if (vm.HasDoorGlueId != null && vm.Price != null)
                        {
                            <MudText Align="Align.Center" Color="Color.Success" Class="fw-semibold" Style="@(disCountDto != null ? "text-decoration: line-through;" : "")">@($"قیمت : {GetTotalPrice()?.ToString("#,0")} ریال")</MudText>
                        }
                    </MudItem>
                    @if (disCountDto != null)
                    {
                        <MudItem xs="11" sm="12">
                            <MudText Align="Align.Center" Color="Color.Success" Class="fw-semibold">@($"قیمت پس از تخفیف : {GetTotalPrice().CalculatePriceAfterDiscount(disCountDto).ToString("#,0")} ریال")</MudText>
                        </MudItem>
                    }
                    <MudItem xs="6" sm="6">
                        <MudTextField Label="کد تخفیف" Placeholder="کد تخفیف" @bind-Value="vm!.DiscountCode" For="@(() => vm!.DiscountCode)" Variant="Variant.Outlined" OnlyValidateIfDirty Immediate="true" dir="ltr" MaxLength="20" />
                    </MudItem>
                    <MudItem xs="6" sm="6">
                        <MudButton Variant="Variant.Outlined" Color="Color.Success" Style="height:56px;margin-top:8px;" OnClick="GetDiscountByCodeAndCategoryId">اعمال تخفیف</MudButton>
                    </MudItem>
                    <MudItem xs="12" sm="12">
                        <MudText Class="font14 text-center" Style="margin-top:-20px">برای استفاده از کد تخفیف باید وارد حساب کاربری تان شده باشید</MudText>
                    </MudItem>
                }
                @if (vm.ModelId == 12) // پاکت  سی دی
                {
                    <MudItem xs="11" sm="6">
                        <MudSelect T="int?" Label="سلفون" @bind-Value="vm!.CellophaneId" For="@(() => vm!.CellophaneId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                            <MudSelectItem Value="(int?)1">مات</MudSelectItem>
                            <MudSelectItem Value="(int?)2">براق</MudSelectItem>
                            <MudSelectItem Value="(int?)3">ندارد</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                    <MudItem xs="11" sm="6">
                        <MudSelect T="int?" Label="یو وی" @bind-Value="vm!.UvId" For="@(() => vm!.UvId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                            <MudSelectItem Value="(int?)1">کامل</MudSelectItem>
                            <MudSelectItem Value="(int?)2">موضعی</MudSelectItem>
                            <MudSelectItem Value="(int?)3">ندارد</MudSelectItem>
                        </MudSelect>
                    </MudItem>                    
                }
                <MudItem xs="11" sm="12">
                    <MudFileUpload T="IBrowserFile" @bind-Files="vm.File" For="@(() => vm.File)" SuppressOnChangeWhenInvalid Accept=".jpg,.jpeg" OnFilesChanged="OnFilesChanged" Required RequiredError="@Constants.RequireMsg">
                        <ActivatorContent>
                            <MudButton Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.CloudUpload" FullWidth Class="">
                                آپلود فایل (jpg/jpeg)
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>
                    @if (!string.IsNullOrEmpty(previewImageUrl))
                    {
                        <div class="mud-grid justify-center">
                            <MudImage Src="@previewImageUrl" Fluid Class="mt-5 rounded" />
                        </div>
                    }
                </MudItem>
                <MudItem xs="11" sm="6">
                    <MudSelect T="int?" Label="روش دریافت" @bind-Value="vm!.DeliveryMethodId" For="@(() => vm!.DeliveryMethodId)" Variant="Variant.Outlined" Required RequiredError="@Constants.RequireMsg">
                        <MudSelectItem T="int?" Value="DeliveryMethods.Send.ToInt()">@Constants.DeliveryMethodSend</MudSelectItem>
                        <MudSelectItem T="int?" Value="DeliveryMethods.InPerson.ToInt()">@Constants.DeliveryMethodInPerson</MudSelectItem>
                    </MudSelect>
                </MudItem>
                @if (vm.DeliveryMethodId == DeliveryMethods.Send.ToInt())
                {
                    <MudItem xs="11" sm="6">
                        <MudSelect T="int?" Label="محل ارسال" @bind-Value="vm!.AddressTypeId" For="@(() => vm!.AddressTypeId)" Variant="Variant.Outlined" Required="vm.DeliveryMethodId == DeliveryMethods.Send.ToInt()" RequiredError="@Constants.RequireMsg">
                            <MudSelectItem T="int?" Value="AddressTypes.Tehran.ToInt()">@Constants.AddressTypeTehran</MudSelectItem>
                            <MudSelectItem T="int?" Value="AddressTypes.OtherCities.ToInt()">@Constants.AddressTypeOtherCities</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                }
                @if (vm.DeliveryMethodId == DeliveryMethods.Send.ToInt() && vm.AddressTypeId == AddressTypes.Tehran.ToInt())
                {
                    <MudItem xs="11" sm="6">
                        <MudSelect T="int?" Label="منطقه تهران" @bind-Value="vm!.TehranAreaId" For="@(() => vm!.TehranAreaId)" Variant="Variant.Outlined" FullWidth Required="vm.DeliveryMethodId == DeliveryMethods.Send.ToInt() && vm.AddressTypeId == AddressTypes.Tehran.ToInt()" RequiredError="@Constants.RequireMsg">
                            <MudSelectItem T="int?" Value="TehranAreas.North.ToInt()">@Constants.TehranAreaNorth</MudSelectItem>
                            <MudSelectItem T="int?" Value="TehranAreas.South.ToInt()">@Constants.TehranAreaSouth</MudSelectItem>
                            <MudSelectItem T="int?" Value="TehranAreas.West.ToInt()">@Constants.TehranAreaWest</MudSelectItem>
                            <MudSelectItem T="int?" Value="TehranAreas.East.ToInt()">@Constants.TehranAreaEast</MudSelectItem>
                            <MudSelectItem T="int?" Value="TehranAreas.Center.ToInt()">@Constants.TehranAreaCenter</MudSelectItem>
                        </MudSelect>
                    </MudItem>
                }
                @if (vm.DeliveryMethodId == DeliveryMethods.Send.ToInt())
                {
                    <MudItem xs="11" sm="12" Class="d-flex">
                        <MudTextField Label="آدرس کامل" @bind-Value="vm!.Address" For="@(() => vm!.Address)" Variant="Variant.Outlined" OnlyValidateIfDirty Required="vm.DeliveryMethodId == DeliveryMethods.Send.ToInt()" RequiredError="@Constants.RequireMsg" MaxLength="400" />
                        <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" Class="ms-1" Style="height:56px;margin-top:8px" OnClick="OpenUserAddressesDialog">آدرسهای من</MudButton>
                    </MudItem>
                }
                @if (vm.DeliveryMethodId == DeliveryMethods.Send.ToInt())
                {
                    <MudItem xs="11" sm="6">
                        <MudTextField Label="کد پستی" @bind-Value="vm!.PostalCode" For="@(() => vm!.PostalCode)" Variant="Variant.Outlined" OnlyValidateIfDirty Required="vm.DeliveryMethodId == DeliveryMethods.Send.ToInt()" RequiredError="@Constants.RequireMsg" dir="ltr" MaxLength="10" />
                    </MudItem>
                }
                <MudItem xs="11" sm="12" Class="d-flex">
                    <MudTextField Label="توضیحات" Placeholder="اختیاری - حداکثر 100 کاراکتر" @bind-Value="vm!.Desc" For="@(() => vm!.Desc)" Variant="Variant.Outlined" OnlyValidateIfDirty Counter="100" Immediate="true" />
                </MudItem>
            </MudGrid>

            <div class="d-flex justify-content-center container mt-1">
                <AuthorizeView>
                    <Authorized Context="AuthorizedContext">
                        <MudButton OnClick="Submit" Variant="Variant.Filled" Class="mt-5" Style="width:200px;height:56px"
                                   Color="Color.Primary" FullWidth="true" Size="Size.Large">
                            ثبت سفارش
                        </MudButton>
                    </Authorized>
                    <NotAuthorized Context="NotAuthorizedContext">
                        <MudLink Href="/Login" Style="text-decoration: none;">
                            <MudAlert Severity="Severity.Warning" Variant="Variant.Filled" ContentAlignment="HorizontalAlignment.Center" Class="mt-5 cursor-pointer">
                                برای ثبت سفارش وارد حساب شوید.
                            </MudAlert>
                        </MudLink>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </MudForm>
    </MudItem>
</MudGrid>