<MudDialog Class="text-center">
    <DialogContent>
        <div id="printArea">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="4">
                    @* <MudText Class="mt-7">@($"فاکتور شماره : {OrderId}")</MudText> *@
                </MudItem>
                <MudItem>
                    <MudImage Src="/favicon.png" Class="my-1" Style="display:block;margin-left:auto;margin-right:auto;max-width:200px" />
                </MudItem>
                <MudItem xs="4">
                    @* <MudText Class="mt-7">@($"تاریخ سفارش : {InvoiceDto?.AddDate.ToShamsiDate()}")</MudText> *@
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.Center">
                <MudItem Class="w-100">
                    <table class="table-bordered table-striped mt-5 table">
                        <tr>
                            <td Class="w-50 ps-1 text-center">شماره فاکتور</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.Id</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">نام مشتری</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.AddUserFullName</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">دسته</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.CategoryTitle</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">@(InvoiceDto?.CategoryTitle == CategoriesEnum.HandBag.GetDescription() ? "سایز" : "مدل")</td>
                            <td Class="w-50 pe-1 text-center" style="direction:rtl">@InvoiceDto?.ModelTitle</td>
                        </tr>
                        @if (InvoiceDto?.CategoryTitle == CategoriesEnum.Hospital.GetDescription())
                        {
                            <tr>
                                <td Class="w-50 ps-1 text-center">قالب</td>
                                <td Class="w-50 pe-1 text-center">@InvoiceDto?.EnvelopeHospitalTemplateName</td>
                            </tr>
                        }
                        <tr>
                            <td Class="w-50 ps-1 text-center">@(InvoiceDto?.CategoryTitle == CategoriesEnum.Confidential.GetDescription() ? "نوع" : "کاغذ")</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.PaperTitle</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">گرماژ</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.GrammageTitle</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">تعداد</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.CountTitle</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">قیمت</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.Price?.ToString("N0") ریال</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">قیمت پس از تخفیف</td>
                            @if (InvoiceDto?.PriceAfterDiscount != null)
                            {
                                <td Class="w-50 pe-1 text-center">@InvoiceDto?.PriceAfterDiscount?.ToString("N0") ریال</td>
                            }
                            else
                            {
                                <td Class="w-50 pe-1 text-center"></td>
                            }
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">تاریخ سفارش</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.AddDate.ToShamsiDate()</td>
                        </tr>
                        <tr>
                            <td Class="w-50 ps-1 text-center">تاریخ پرداخت</td>
                            <td Class="w-50 pe-1 text-center">@InvoiceDto?.PayDate.ToShamsiDate()</td>
                        </tr>
                    </table>
                </MudItem>
            </MudGrid>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="PrintInvoice" StartIcon="@Icons.Material.Filled.CloudDownload" Class="mb-6 me-5">
            دانلود فاکتور
        </MudButton>
    </DialogActions>
</MudDialog>

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        direction: rtl;
        font-family: YekanBakhFaNum;
    }

        .table td, .table th {
            border: 1px solid #999;
            padding: 4px;
        }

    .table-striped tr:nth-child(even) {
        background-color: #f5f5f5;
    }
</style>


