<MudNavMenu Color="Color.Success" Rounded="true" Style="height: 86vh;">
    <AuthorizeView Roles="@($"{Constants.AdminRole},{Constants.SuperAdminRole}")">
        <Authorized>
            <MudNavLink Href="Dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Dashboard" Class="mt-1" Style="margin-top:1px">
                داشبورد
            </MudNavLink>
            <MudNavLink Href="Orders" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.LocalShipping" Class="mt-1">
                سفارش ها
            </MudNavLink>
            <MudNavLink Href="Users" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Groups" Class="mt-1">
                کاربران
            </MudNavLink>

            <MudNavGroup Title="قیمت گذاری" Icon="@Icons.Material.Outlined.AttachMoney">
                <MudNavLink Href="EnvelopeOffices" Match="NavLinkMatch.All" Class="mt-1">
                    @CategoriesEnum.Office.GetDescription().Replace("پاکت","")
                </MudNavLink>
                <MudNavLink Href="EnvelopeHospitals" Match="NavLinkMatch.All" Class="mt-1">
                    @CategoriesEnum.Hospital.GetDescription().Replace("پاکت", "")
                </MudNavLink>
                <MudNavLink Href="EnvelopeHandBags" Match="NavLinkMatch.All" Class="mt-1">
                    @CategoriesEnum.HandBag.GetDescription().Replace("پاکت", "")
                </MudNavLink>
                <MudNavLink Href="EnvelopeConfidentials" Match="NavLinkMatch.All" Class="mt-1">
                    @CategoriesEnum.Confidential.GetDescription().Replace("پاکت", "")
                </MudNavLink>
            </MudNavGroup>

            <MudNavGroup Title="اطلاعات پایه" Icon="@Icons.Material.Outlined.Settings">
                <MudNavLink Href="EditModels" Match="NavLinkMatch.All" Class="mt-1">
                    مدل ها
                </MudNavLink>
                <MudNavLink Href="TopSentence" Match="NavLinkMatch.All" Class="mt-1">
                    جمله بالای سایت
                </MudNavLink>
                <MudNavLink Href="UserRewardAmount" Match="NavLinkMatch.All" Class="mt-1">
                    مبلغ جایزه
                </MudNavLink>
                <MudNavLink Href="Images" Match="NavLinkMatch.All" Class="mt-1">
                    تصاویر
                </MudNavLink>
                <MudNavLink Href="Sliders" Match="NavLinkMatch.All" Class="mt-1">
                    اسلایدر
                </MudNavLink>
                <MudNavLink Href="HospitalTemplates" Match="NavLinkMatch.All" Class="mt-1">
                    قالبهای آزمایشگاهی و بیمارستانی
                </MudNavLink>
            </MudNavGroup>

            <MudNavLink Href="DiscountsAdmin" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.Percent" Class="mt-1">
                تخفیف ها
            </MudNavLink>

            <MudNavLink Href="UserProfile" Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.PersonOutline" Class="mt-1">
                @UserFullName
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Outlined.PowerSettingsNew" Class="mt-1" OnClick="Logout">
                خروج
            </MudNavLink>
            @* <div style="position: absolute; bottom: 1.5rem; width: 100%; display: flex; justify-content: center;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Info" Text="@UserFullName" Icon="@Icons.Material.Filled.PersonOutline" Href="/UserProfile" />
                    <MudButton Variant="Variant.Outlined" Color="Color.Error" Class="mt-5" StartIcon="@Icons.Material.Filled.PowerSettingsNew" OnClick="Logout">
                        <MudText>LogOut</MudText>
                    </MudButton>
                </div>
            </div> *@
        </Authorized>
    </AuthorizeView>
</MudNavMenu>