@page "/HospitalTemplates"
@layout PanelLayout
<PageHeader Title="قالبهای آزمایشگاهی و بیمارستانی" Icon="@Icons.Material.Filled.LocalHospital" />

<MudGrid>
    <MudItem xs="10" sm="3">
        <MudSelect T="int?" Label="مدل" @bind-Value="ModelId" @bind-Value:event="onchange" ValueChanged="OnModelChangeAsync" For="@(() => ModelId)" Variant="Variant.Outlined">
            @if (ModelDtos.Length > 0)
            {
                @foreach (var item in ModelDtos!)
                {
                    <MudSelectItem Value="@((int?)item.Id)">@item.Title</MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="2" sm="9" Class="d-flex align-items-center">
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" Class="mb-2" OnClick="() => OpenAddDialog(null)" title="افزودن قالب جدید" />
    </MudItem>
</MudGrid>

@if (HospitalTemplateDtos.Length > 0)
{
    <MudDataGrid Items="HospitalTemplateDtos" SortMode="SortMode.None" Bordered Hover Dense Striped Elevation="4" Class="mt-2">
        <Columns>
            <PropertyColumn Property="x => x.Id" Hidden />
            <TemplateColumn T="HospitalTemplateDto" Title="حذف">
                <CellTemplate Context="context">
                    <div class="d-flex align-center justify-center" style="height:100%;">
                        <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Small" Class="mx-2" OnClick="() => DeleteRow(context.Item)" Title="حذف تصویر" />
                    </div>
                </CellTemplate>
            </TemplateColumn>
            <TemplateColumn T="HospitalTemplateDto" Title="ترتیب نمایش">
                <CellTemplate Context="context">
                    <MudStack Row Justify="Justify.Center">
                        @if (context.Item.Order != HospitalTemplateDtos.Max(x => x.Order))
                        {
                            <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.ArrowDownward" Size="Size.Small" Class="mx-2" OnClick="() => GoDown(context.Item.Id)" />
                        }
                        @if (context.Item.Order != HospitalTemplateDtos.Min(x => x.Order))
                        {
                            <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.ArrowUpward" Size="Size.Small" Class="mx-2" OnClick="() => GoUp(context.Item.Id)" />
                        }
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.TemplateName" Title="نام قالب" />
            <TemplateColumn Title="تصویر">
                <CellTemplate Context="context">
                    <MudImage Src="@("Uploads/HospitalTemplate/" + context.Item.FileName)" Fluid Style="max-width:250px" Class="rounded" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}
else
{
    <MudText Class="mt-10 text-center">@NoRecordMsg</MudText>
}