@page "/Images"
@layout PanelLayout
<PageTitle>تصاویر</PageTitle>

<MudForm @ref="form" Model="vm" Class="col-md-8 mx-auto">
    <MudGrid Justify="Justify.Center" Class="mt-1">
        <MudItem xs="12" sm="7">
            <MudSelect T="int?" Label="نوع تصویر *" @bind-Value="vm!.Id" @bind-Value:after="OnImageTypeChange" For="@(() => vm!.Id)" Variant="Variant.Outlined">
                <MudSelectItem T="int?" Value="SettingEnum.Login.ToInt()">@SettingEnum.Login.GetDescription()</MudSelectItem>
                <MudSelectItem T="int?" Value="SettingEnum.Home1.ToInt()">@SettingEnum.Home1.GetDescription()</MudSelectItem>
                <MudSelectItem T="int?" Value="SettingEnum.Home2.ToInt()">@SettingEnum.Home2.GetDescription()</MudSelectItem>
            </MudSelect>

            @if (SelectedSetting.Value != null && SelectedSetting.Value.Length >= 1 && previewImageUrl.IsNullOrEmpty() == true)
            {
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="12" class="d-flex justify-content-center">
                        <MudImage Src="@("Uploads/Image/" + SelectedSetting.Value)" Fluid Class="mt-2 rounded" />
                    </MudItem>
                </MudGrid>
            }
            @if (previewImageUrl.IsNullOrEmpty() == false)
            {
                <div class="mud-grid justify-center">
                    <MudImage Src="@previewImageUrl" Fluid Class="mt-2 rounded" />
                </div>
            }

            <MudFileUpload T="IBrowserFile" @bind-Files="vm.File" For="@(() => vm.File)" SuppressOnChangeWhenInvalid Accept=".jpg,.jpeg" OnFilesChanged="OnFilesChanged">
                <ActivatorContent>
                    <MudButton Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.CloudUpload" FullWidth Class="mt-3">
                        انتخاب تصویر (حداکثر 300 KB با فرمت jpg)
                    </MudButton>
                </ActivatorContent>
            </MudFileUpload>

            <MudGrid Justify="Justify.Center" Class="mt-1">
                <MudButton OnClick="Submit" Variant="Variant.Filled" Class="w-50 mt-5"
                           Color="Color.Success" FullWidth="true" Size="Size.Large" Disabled="vm.File==null">
                    ذخیره
                </MudButton>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudForm>