@page "/Card"
<PageHeader Title="سبد خرید" Icon="@Icons.Material.Filled.ShoppingCart" />

@if (NoDataMsg.Length > 0)
{
    <MudText Align="Align.Center" Class="mt-10">@NoDataMsg</MudText>
}

@if (_orderDto.OrderOfficeDtos != null && _orderDto.OrderOfficeDtos.Length > 0)
{
    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.Outlined.Mail" Class="mb-3">@CategoriesEnum.Office.GetDescription()</MudChip>
    <MudDataGrid Items="_orderDto.OrderOfficeDtos" SortMode="SortMode.None" Bordered Hover Dense Striped Elevation="4" Class="container" @bind-SelectedItems="SelectedOrderOffices" MultiSelection>
        <Columns>
            <SelectColumn T="OrderOfficeDto" />
            <TemplateColumn T="OrderOfficeDto" Title="حذف">
                <CellTemplate Context="context">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="cursor-pointer" Color="Color.Error" @onclick="() => DeleteRow(context.Item.Id)" />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Id" Title="شماره فاکتور" />
            <PropertyColumn Property="x => x.ModelTitle" Title="مدل" HeaderStyle="min-width:160px" />
            <PropertyColumn Property="x => x.PaperTitle" Title="کاغذ" />
            <PropertyColumn Property="x => x.GrammageTitle" Title="گرماژ" />
            <PropertyColumn Property="x => x.CountTitle" Title="تعداد" />
            <PropertyColumn Property="x => x.HasInternalTeramTitle" Title="ترام داخلی" />
            <PropertyColumn Property="x => x.HasDoorGlueTitle" Title="چسب درب" />
            <PropertyColumn Property="x => x.Price" Title="قیمت" Format="N0" />
            <PropertyColumn Property="x => x.PriceAfterDiscount" Title="قیمت پس از تخفیف" Format="N0" />
            <PropertyColumn Property="x => x.CellophaneTitle" Title="سلفون" />
            <PropertyColumn Property="x => x.UvTitle" Title="یو وی" />
            <PropertyColumn Property="x => x.DeliveryMethodTitle" Title="روش دریافت" HeaderStyle="min-width:140px" />
            <PropertyColumn Property="x => x.AddressTypeTitle" Title="تهران/شهرستان" />
            <PropertyColumn Property="x => x.TehranAreaTitle" Title="منطقه تهران" />
            <TemplateColumn T="OrderOfficeDto" Title="آدرس" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Address">
                        <span>
                            @(context.Item.Address?.Length > 25 ? context.Item.Address.Substring(0, 25) + " ..." : context.Item.Address)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.PostalCode" Title="کدپستی" />
            <TemplateColumn T="OrderOfficeDto" Title="توضیحات" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Desc">
                        <span>
                            @(context.Item.Desc?.Length > 25 ? context.Item.Desc.Substring(0, 25) + " ..." : context.Item.Desc)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.AddDate.ToShamsiDateTime()" Title="تاریخ سفارش" HeaderStyle="min-width:190px" />
        </Columns>
    </MudDataGrid>
}


@if (_orderDto.OrderHospitalDtos != null && _orderDto.OrderHospitalDtos!.Length > 0)
{
    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.Outlined.LocalHospital" Class="mb-3 mt-4">@CategoriesEnum.Hospital.GetDescription()</MudChip>
    <MudDataGrid Items="_orderDto.OrderHospitalDtos" SortMode="SortMode.None" Bordered Hover Dense Striped Elevation="4" Class="container" @bind-SelectedItems="SelectedOrderHospitals" MultiSelection>
        <Columns>
            <SelectColumn T="OrderHospitalDto" />
            <TemplateColumn T="OrderHospitalDto" Title="حذف">
                <CellTemplate Context="context">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="cursor-pointer" Color="Color.Error" @onclick="() => DeleteRow(context.Item.Id)" />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Id" Title="شماره فاکتور" />
            <PropertyColumn Property="x => x.ModelTitle" Title="مدل" HeaderStyle="min-width:160px" />
            <PropertyColumn Property="x => x.HospitalTemplateTemplateName" Title="قالب" HeaderStyle="min-width:160px" />
            <PropertyColumn Property="x => x.PaperTitle" Title="کاغذ" />
            <PropertyColumn Property="x => x.GrammageTitle" Title="گرماژ" />
            <PropertyColumn Property="x => x.CountTitle" Title="تعداد" />
            <PropertyColumn Property="x => x.CellophaneTitle" Title="سلفون" />
            <PropertyColumn Property="x => x.UvTitle" Title="یو وی" />
            <PropertyColumn Property="x => x.Price" Title="قیمت" Format="N0" />
            <PropertyColumn Property="x => x.PriceAfterDiscount" Title="قیمت پس از تخفیف" Format="N0" />
            <PropertyColumn Property="x => x.DeliveryMethodTitle" Title="روش دریافت" HeaderStyle="min-width:140px" />
            <PropertyColumn Property="x => x.AddressTypeTitle" Title="تهران/شهرستان" />
            <PropertyColumn Property="x => x.TehranAreaTitle" Title="منطقه تهران" />
            <TemplateColumn T="OrderHospitalDto" Title="آدرس" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Address">
                        <span>
                            @(context.Item.Address?.Length > 25 ? context.Item.Address.Substring(0, 25) + " ..." : context.Item.Address)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.PostalCode" Title="کدپستی" />
            <TemplateColumn T="OrderHospitalDto" Title="توضیحات" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Desc">
                        <span>
                            @(context.Item.Desc?.Length > 25 ? context.Item.Desc.Substring(0, 25) + " ..." : context.Item.Desc)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.AddDate.ToShamsiDateTime()" Title="تاریخ سفارش" HeaderStyle="min-width:190px" />
        </Columns>
    </MudDataGrid>
}


@if (_orderDto.OrderHandBagDtos != null && _orderDto.OrderHandBagDtos!.Length > 0)
{
    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.Outlined.LocalMall" Class="mb-3 mt-4">@CategoriesEnum.HandBag.GetDescription()</MudChip>
    <MudDataGrid Items="_orderDto.OrderHandBagDtos" SortMode="SortMode.None" Bordered Hover Dense Striped Elevation="4" Class="container" @bind-SelectedItems="SelectedOrderHandBags" MultiSelection>
        <Columns>
            <SelectColumn T="OrderHandBagDto" />
            <TemplateColumn T="OrderHandBagDto" Title="حذف">
                <CellTemplate Context="context">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="cursor-pointer" Color="Color.Error" @onclick="() => DeleteRow(context.Item.Id)" />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Id" Title="شماره فاکتور" />
            <PropertyColumn Property="x => x.ModelTitle" Title="سایز" HeaderStyle="min-width:160px" />
            <PropertyColumn Property="x => x.PaperTitle" Title="کاغذ" />
            <PropertyColumn Property="x => x.GrammageTitle" Title="گرماژ" />
            <PropertyColumn Property="x => x.CountTitle" Title="تعداد" />
            <PropertyColumn Property="x => x.CellophaneTitle" Title="سلفون" />
            <PropertyColumn Property="x => x.UvTitle" Title="یو وی" />
            <PropertyColumn Property="x => x.Price" Title="قیمت" Format="N0" />
            <PropertyColumn Property="x => x.PriceAfterDiscount" Title="قیمت پس از تخفیف" Format="N0" />
            <PropertyColumn Property="x => x.DeliveryMethodTitle" Title="روش دریافت" HeaderStyle="min-width:140px" />
            <PropertyColumn Property="x => x.AddressTypeTitle" Title="تهران/شهرستان" />
            <PropertyColumn Property="x => x.TehranAreaTitle" Title="منطقه تهران" />
            <TemplateColumn T="OrderHandBagDto" Title="آدرس" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Address">
                        <span>
                            @(context.Item.Address?.Length > 25 ? context.Item.Address.Substring(0, 25) + " ..." : context.Item.Address)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.PostalCode" Title="کدپستی" />
            <TemplateColumn T="OrderHandBagDto" Title="توضیحات" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Desc">
                        <span>
                            @(context.Item.Desc?.Length > 25 ? context.Item.Desc.Substring(0, 25) + " ..." : context.Item.Desc)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.AddDate.ToShamsiDateTime()" Title="تاریخ سفارش" HeaderStyle="min-width:190px" />
        </Columns>
    </MudDataGrid>
}


@if (_orderDto.OrderConfidentialDtos != null && _orderDto.OrderConfidentialDtos!.Length > 0)
{
    <MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Icon="@Icons.Material.Outlined.Lock" Class="mb-3 mt-4">@CategoriesEnum.Confidential.GetDescription()</MudChip>
    <MudDataGrid Items="_orderDto.OrderConfidentialDtos" SortMode="SortMode.None" Bordered Hover Dense Striped Elevation="4" Class="container" @bind-SelectedItems="SelectedOrderConfidentials" MultiSelection>
        <Columns>
            <SelectColumn T="OrderConfidentialDto" />
            <TemplateColumn T="OrderConfidentialDto" Title="حذف">
                <CellTemplate Context="context">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="cursor-pointer" Color="Color.Error" @onclick="() => DeleteRow(context.Item.Id)" />
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.Id" Title="شماره فاکتور" />
            <PropertyColumn Property="x => x.ModelTitle" Title="مدل" HeaderStyle="min-width:160px" />
            <PropertyColumn Property="x => x.PaperTitle" Title="نوع" HeaderStyle="min-width:160px" />
            <PropertyColumn Property="x => x.GrammageTitle" Title="گرماژ" />
            <PropertyColumn Property="x => x.CountTitle" Title="تعداد" />
            <PropertyColumn Property="x => x.Price" Title="قیمت" Format="N0" />
            <PropertyColumn Property="x => x.PriceAfterDiscount" Title="قیمت پس از تخفیف" Format="N0" />
            <PropertyColumn Property="x => x.DeliveryMethodTitle" Title="روش دریافت" HeaderStyle="min-width:140px" />
            <PropertyColumn Property="x => x.AddressTypeTitle" Title="تهران/شهرستان" />
            <PropertyColumn Property="x => x.TehranAreaTitle" Title="منطقه تهران" />
            <TemplateColumn T="OrderConfidentialDto" Title="آدرس" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Address">
                        <span>
                            @(context.Item.Address?.Length > 25 ? context.Item.Address.Substring(0, 25) + " ..." : context.Item.Address)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.PostalCode" Title="کدپستی" />
            <TemplateColumn T="OrderConfidentialDto" Title="توضیحات" HeaderStyle="min-width:250px">
                <CellTemplate Context="context">
                    <MudTooltip Text="@context.Item.Desc">
                        <span>
                            @(context.Item.Desc?.Length > 25 ? context.Item.Desc.Substring(0, 25) + " ..." : context.Item.Desc)
                        </span>
                    </MudTooltip>
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Property="x => x.AddDate.ToShamsiDateTime()" Title="تاریخ سفارش" HeaderStyle="min-width:190px" />
        </Columns>
    </MudDataGrid>
}

@* جمله - دکمه پرداخت - کیف پول *@
@if (_orderDto.OrderOfficeDtos?.Length > 0 || _orderDto.OrderHospitalDtos?.Length > 0 || _orderDto.OrderHandBagDtos?.Length > 0 || _orderDto.OrderConfidentialDtos?.Length > 0)
{
    <MudGrid Class="mt-4">
        <MudItem xs="12" sm="6">
            <MudText Color="Color.Primary">برای پرداخت ، سفارش های مورد نظر را انتخاب کنید</MudText>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudText Color="Color.Primary">@($"تعداد سفارش انتخاب شده : {(SelectedOrderOffices.Count + SelectedOrderHospitals.Count + SelectedOrderHandBags.Count + SelectedOrderConfidentials.Count)}")</MudText>
        </MudItem>
        @if (@_orderDto.WalletBalance > 0)
        {
            <MudItem xs="12" sm="6">
                <MudText Style="margin-top:13px">موجودی کیف پول من : @_orderDto.WalletBalance.ToString("N0") ریال</MudText>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudCheckBox @bind-Value="_isCalcByWalletBalance" Label="از موجودی کیف پول پرداخت شود" Size="Size.Large" Style="margin-right:-16px" />
            </MudItem>
        }
    </MudGrid>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mb-10 mt-6" OnClick="PayButtonClick" Disabled="SelectedOrderOffices.Count + SelectedOrderHospitals.Count + SelectedOrderHandBags.Count + SelectedOrderConfidentials.Count == 0">@($"پرداخت {(SelectedOrderOffices.Sum(x => x.PriceAfterDiscount == null ? x.Price : x.PriceAfterDiscount.Value) + SelectedOrderHospitals.Sum(x => x.PriceAfterDiscount == null ? x.Price : x.PriceAfterDiscount.Value) + SelectedOrderHandBags.Sum(x => x.PriceAfterDiscount == null ? x.Price : x.PriceAfterDiscount.Value) + SelectedOrderConfidentials.Sum(x => x.PriceAfterDiscount == null ? x.Price : x.PriceAfterDiscount.Value)).ToString("N0")} ریال")</MudButton>
}


<style>
    span.mud-ripple-checkbox {
        color: var(--mud-palette-primary);
    }
</style>