@page "/ForgetPassword"
<PageHeader Title="فراموشی پسورد" Icon="@Icons.Material.Filled.Password" />

<div class="d-flex justify-content-center container mt-2">
    @if (step == 1)
    {
        <EditForm Model="mobileVm" OnValidSubmit="MobileSubmit" FormName="MobileForm" class="col-md-4 col-12 mb-5">
            <DataAnnotationsValidator />

            <MudTextField Label="موبایل * (کد پیامک میشود)" @bind-Value="mobileVm!.Mobile" Class="my-5" For="@(() => mobileVm!.Mobile)" Variant="Variant.Outlined" dir="ltr" MaxLength="11" OnlyValidateIfDirty InputMode="InputMode.numeric" />

            <SubmitButton />
        </EditForm>
    }
    @if (step == 2)
    {
        <EditForm Model="changePasswordInForgetVm" OnValidSubmit="ChangePasswordSubmit" FormName="ChangePasswordForm" class="col-md-4 col-12 mb-5">
            <DataAnnotationsValidator />

            <MudHidden @bind-Value="changePasswordInForgetVm!.Id" />

            <MudTextField Label="کد پیامک شده" @bind-Value="changePasswordInForgetVm!.ConfirmCode" Class="my-5" For="@(() => changePasswordInForgetVm!.ConfirmCode)" Variant="Variant.Outlined" dir="ltr" MaxLength="5" InputMode="InputMode.numeric" OnlyValidateIfDirty />

            <MudTextField Label="پسورد جدید * " @bind-Value="changePasswordInForgetVm!.NewPassword" Class="my-5" For="@(() => changePasswordInForgetVm!.NewPassword)" Variant="Variant.Outlined" dir="ltr" MaxLength="20" OnlyValidateIfDirty Placeholder="طول حداقل 6 شامل حرف و عدد" InputType="@PasswordInputType" Adornment="Adornment.Start" AdornmentIcon="@PasswordIcon" OnAdornmentClick="TogglePasswordVisibility" />

            <MudTextField Label="تکرار پسورد جدید * " @bind-Value="changePasswordInForgetVm!.ConfirmNewPassword" Class="my-5" For="@(() => changePasswordInForgetVm!.ConfirmNewPassword)" Variant="Variant.Outlined" dir="ltr" MaxLength="20" OnlyValidateIfDirty Placeholder="طول حداقل 6 شامل حرف و عدد" InputType="@PasswordInputType2" Adornment="Adornment.Start" AdornmentIcon="@PasswordIcon2" OnAdornmentClick="TogglePasswordVisibility2" />

            <SubmitButton />
        </EditForm>
    }
    @if (step == 3)
    {
        <div style="height: 40vh; display: flex; justify-content: center; align-items: center;">
            <MudPaper Class="p-5">
                <MudText Color="Color.Success">در حال انتقال به صفحه ورود ...</MudText>
            </MudPaper>
        </div>
    }
</div>
