@page "/Login"
<PageHeader Title="ورود" Icon="@Icons.Material.Filled.Login" />

<div class="login-container">
    <div class="card-login shadow" style="background: #fff;margin-bottom:-40px;margin-top:-60px">
        <MudImage Src="/favicon.png" Class="my-10" Style="display:block;margin-left:auto;margin-right:auto;max-width:200px" />
        <EditForm Model="vm" OnValidSubmit="Submit" style="margin-left:auto;margin-right:auto;">
            <DataAnnotationsValidator />
            <MudGrid Justify="Justify.Center">
                <MudGrid Justify="Justify.Center">
                    <MudItem sm="9" xs="12">
                        <MudTextField Label="موبایل * " @bind-Value="vm!.Mobile" Class="ms-5 mt-7" For="@(() => vm!.Mobile)" Variant="Variant.Outlined" dir="ltr" MaxLength="11" OnlyValidateIfDirty InputMode="InputMode.numeric" Style="" />
                    </MudItem>
                </MudGrid>
                <MudGrid Justify="Justify.Center">
                    <MudItem sm="9" xs="12">
                        <MudTextField Label="پسورد *" @bind-Value="vm!.Password" Class="my-4 ms-5" For="@(() => vm!.Password)" Variant="Variant.Outlined" dir="ltr" MaxLength="20" OnlyValidateIfDirty Placeholder="طول حداقل 6 شامل حرف و عدد" InputType="@PasswordInputType" Adornment="Adornment.Start" AdornmentIcon="@PasswordIcon" OnAdornmentClick="TogglePasswordVisibility" Style="" />
                    </MudItem>
                </MudGrid>
            </MudGrid>
            <MudStack Justify="Justify.Center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Class="w-25" Style="margin-left:auto;margin-right:auto">
                    ورود
                </MudButton>
                <MudLink Href="ForgetPassword" Color="Color.Info" Style="margin-left:auto;margin-right:auto" Class="mt-2">فراموشی پسورد</MudLink>
            </MudStack>
            <MudStack Row Class="mt-5" Justify="Justify.Center">
                <MudText>ثبت نام نکرده اید؟</MudText>
                <MudLink Href="Register" Color="Color.Info">ثبت نام</MudLink>
            </MudStack>
        </EditForm>
    </div>
</div>

<style>   
    .login-container {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-login {
        border-radius: 16px;
        box-shadow: 0px 0px 24px 0px rgba(44, 62, 80, 0.10);
        overflow: hidden;
    }
</style>