@page "/Register"
<PageHeader Title="ثبت نام" Icon="@Icons.Material.Filled.PersonAdd" />
<MudGrid Justify="Justify.Center" Class="mt-1">
    @if (step == 1)
    {
        <MudGrid Justify="Justify.Center" Class="mx-0 px-0">
            <MudItem sm="4" xs="11">
                <MudAlert Severity="Severity.Info" Elevation="0" Class="mb-1" ContentAlignment="HorizontalAlignment.Center">
                    پر کردن فیلدهای * دار اجباری است
                </MudAlert>
            </MudItem>
        </MudGrid>

        <MudGrid Justify="Justify.Center" Class="mx-0 px-0">
            <MudItem sm="4" xs="11">
                <EditForm Model="registerVm" OnValidSubmit="RegisterSubmit" FormName="RegisterForm">
                    <DataAnnotationsValidator />

                    <MudTextField Label="نام و نام  خانوادگی / نام فروشگاه" @bind-Value="registerVm!.FullName" Class="my-5" For="@(() => registerVm!.FullName)" Variant="Variant.Outlined" MaxLength="30" OnlyValidateIfDirty FullWidth />

                    <MudTextField Label="موبایل * (کد تایید پیامک میشود)" @bind-Value="registerVm!.Mobile" Class="my-5" For="@(() => registerVm!.Mobile)" Variant="Variant.Outlined" dir="ltr" MaxLength="11" OnlyValidateIfDirty InputMode="InputMode.numeric" />

                    <MudTextField Label="پسورد * " @bind-Value="registerVm!.Password" Class="my-5" For="@(() => registerVm!.Password)" Variant="Variant.Outlined" dir="ltr" MaxLength="20" OnlyValidateIfDirty Placeholder="طول حداقل 6 شامل حرف و عدد" InputType="@PasswordInputType" Adornment="Adornment.Start" AdornmentIcon="@PasswordIcon" OnAdornmentClick="TogglePasswordVisibility" />

                    <MudTextField Label="تکرار پسورد * " @bind-Value="registerVm!.ConfirmPassword" Class="my-5" For="@(() => registerVm!.ConfirmPassword)" Variant="Variant.Outlined" dir="ltr" MaxLength="20" OnlyValidateIfDirty Placeholder="طول حداقل 6 شامل حرف و عدد" InputType="@PasswordInputType2" Adornment="Adornment.Start" AdornmentIcon="@PasswordIcon2" OnAdornmentClick="TogglePasswordVisibility2" />

                    <MudTextField Label="کد معرف" @bind-Value="registerVm!.ReferralCode" For="@(() => registerVm!.ReferralCode)" Class="my-5" Variant="Variant.Outlined" dir="ltr" MaxLength="12" OnlyValidateIfDirty Placeholder="ID9121234567" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.GroupAdd" />

                    <SubmitButton />
                </EditForm>
            </MudItem>
        </MudGrid>
    }
    @if (step == 2)
    {
        <div style="height: 40vh; display: flex; justify-content: center; align-items: center;">
            <MudPaper Class="p-5">
                <EditForm Model="confirmRegisterVm" OnValidSubmit="ConfirmCodeSubmit" FormName="ConfirmCodeForm">
                    <DataAnnotationsValidator />

                    <MudHidden @bind-Value="confirmRegisterVm!.Id" />
                    <MudTextField Label="کد تایید پیامک شده" @bind-Value="confirmRegisterVm!.ConfirmCode" Class="my-5" For="@(() => confirmRegisterVm!.ConfirmCode)" Variant="Variant.Outlined" dir="ltr" MaxLength="5" InputMode="InputMode.numeric" OnlyValidateIfDirty />

                    <SubmitButton />
                </EditForm>
            </MudPaper>
        </div>
    }
    @if (step == 3)
    {
        <div style="height: 40vh; display: flex; justify-content: center; align-items: center;">
            <MudPaper Class="p-5">
                <MudText Color="Color.Success">در حال انتقال به صفحه ورود ...</MudText>
            </MudPaper>
        </div>
    }
</MudGrid>